tesi-frn.tex
*.aux
*.bbl
*.bcf
*.blg
*-blx.bib
*.fdb_latexmk
*.log
*.lof
*.out
*.pdf
*.run.xml
*.toc
*~
\#*
.\#*
auto/
Immagini/gnuplot/*.eps
Immagini/gnuplot/*.pdf
Immagini/gnuplot/*.tex
keplero/keplero
keplero/*.dat
keplero/*.eps
keplero/*.pdf
keplero/*.tex
keplero/immagini-keplero
keplero/nul
keplero/bessj.c
keplero/bessj0.c
keplero/bessj1.c
keplero/nrutil.c
keplero/nrutil.h
