tesi-frn.tex
*.aux
*.bbl
*.bcf
*.blg
*-blx.bib
*.fdb_latexmk
*.log
*.lof
*.out
tesi*.pdf
*.run.xml
*.toc
*~
\#*
.\#*
auto/
Immagini/gnuplot/*.eps
Immagini/gnuplot/*.pdf
Immagini/gnuplot/*.tex
programmi/keplero
programmi/eclissi
programmi/*.dat
programmi/*.eps
programmi/*.o
programmi/*.pdf
programmi/*.tex
programmi/keplero-*
