tesi-frn.tex
*.aux
*.bbl
*.bcf
*.blg
*-blx.bib
*.fdb_latexmk
*.log
*.lof
*.out
*.pdf
*.run.xml
*.toc
*~
\#*
.\#*
auto/
Immagini/gnuplot/*.eps
Immagini/gnuplot/*.pdf
Immagini/gnuplot/*.tex
newton/newton
newton/newton.dat
newton/*.eps
newton/*.pdf
newton/*.tex
newton/immagini-newton
newton/nul
